<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NBE Dell Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RegressionXls.setupBeforeSuite(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">&gt;&gt;setupBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:35</td>   <td>7475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:43</td>   <td>15751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:47</td>   <td>20215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:47</td>   <td>20282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">ExcelTest</td> 
  <td>TestNG-tests-1@1962482412</td>   <td></td> </tr>
<tr bgcolor="7ee0d2">  <td>18/12/31 18:43:48</td>   <td>20812</td> <td title="&lt;&lt;RegressionXls.setupAfterSuite()[pri:0, instance:com.testsuiterunner.RegressionXls@608e721f]">&lt;&lt;setupAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.testsuiterunner.Invoke.main()@731177565</td>   <td></td> </tr>
</table>
