<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NBE Proxibid Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:26:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RegressionXls.setupBeforeSuite(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">&gt;&gt;setupBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:26:18</td>   <td>5188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:26:29</td>   <td>15940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:28:42</td>   <td>149015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:29:59</td>   <td>226153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:30:34</td>   <td>260883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionXls.ExcelTest(java.lang.String, int, java.lang.String)[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">ExcelTest</td> 
  <td>TestNG-tests-1@41105510</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/03/16 14:31:48</td>   <td>335240</td> <td title="&lt;&lt;RegressionXls.setupAfterSuite()[pri:0, instance:com.testsuiterunner.RegressionXls@10db82ae]">&lt;&lt;setupAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@956420404</td>   <td></td> </tr>
</table>
